{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}慕学在线网登录{% endblock %}
{% block tag %}用户登录{% endblock %}
{% block content %}
<div class="fl form-box">
    <h2>帐号登录</h2>
    <form action="{% url 'user:login' %}" method="post" autocomplete="off">
        <div class="form-group marb20 {% if login_form.username.errors %}errorput{% endif %}">
            <label>用&nbsp;户&nbsp;名</label>
            <input name="username" id="account_l" type="text" placeholder="手机号/邮箱" value="{{ login_form.username.value }}"/>
        </div>
        <div class="form-group marb8 {% if login_form.password.errors %}errorput{% endif %}">
            <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
            <input name="password" id="password_l" type="password" placeholder="请输入您的密码" />
        </div>
        <div class="error btns login-form-tips" id="jsLoginTips">
            {{ msg }}
        </div>
        <div class="auto-box marb38">
            <a class="fr" href="{% url 'user:forgetPwd' %}">忘记密码？</a>
        </div>
        <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即登录 > " />
        {% csrf_token %}
    </form>
    <p class="form-p">没有慕学在线网帐号？<a href="{% url 'user:register' %}">[立即注册]</a></p>

</div>

{% endblock %}




